.section-portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0vw 0vw 10vw black;
    background-color: #06280E;
    gap: 12vw;
    padding-bottom: 12vw;
}

.section-portfolio__background-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12vw;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/portfolio_background.jpg);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: center;
}

.section-portfolio__title{
    padding-top: 2vw;
    font-weight: 500;
    letter-spacing: 0.6vw;
    font-size: clamp(0.1rem, 9vw, 9vw);
}

.section-portfolio__info{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    align-items: center;
}

.section-portfolio__info-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(38, 66, 51, 0.5);
    height: 55vw;
}

.section-portfolio__info-title{
    padding-bottom:6vw ;
    font-size: clamp(0.1rem, 5vw, 5vw);
    font-weight: 600;
    letter-spacing: 0.6vw;
    padding-top: 5vw;
}

.section-portfolio__info-text{
    display: flex;
    flex-direction: column;
    font-size: clamp(0.1rem, 4vw, 4vw);
    gap: 5vw;
    font-weight: 350;
    line-height: 5vw;
    letter-spacing: 0.4vw;
    padding-inline: 2vw;
}

.section-portfolio__grid{
    display: grid;
    grid-auto-flow: column;
    gap: 5vw;
    width: 95%;
    grid-auto-columns: 100vw;
    overflow-x: auto;
    white-space: nowrap;
}

.section-portfolio__indicator-container {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

.section-portfolio__indicator {
    width: 3vw;
    height: 3vw;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.section-portfolio__indicator.active {
    background-color: lightgreen;
}


.section-portfolio__image{
    object-fit: cover;
    width: 100%;
    height: auto;
}