.section-about-me{
    display: flex;
    flex-direction: column;
    background-color: #06280E;
    
    align-items: center;
    gap: 2vw;
    padding-bottom: 8vw;
}

.section-about-me__title{
    padding-top: 25vw;
    font-weight: 500;
    letter-spacing: 0.6vw;
    padding-bottom: 10vw;
    font-size: clamp(0.1rem, 9vw, 9vw);
}

.section-about-me__subtitle{
    font-weight: 100;
    font-size: clamp(0.1rem, 4vw, 4vw);
    padding-bottom: 5vw;
    letter-spacing: 0.6vw;
}

.section-about-me__info{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    padding-top: 10vw;
    align-items: center;
    padding-bottom: 8vw;
}

.section-about-me__experience, .section-about-me__drawing,
 .section-about-me__material, .section-about-me__procedure{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4vw;
    background-color: #264233;
    background-repeat: no-repeat;
    padding: 6.5vw 3vw;
    height: 65vw;
}

.section-about-me__experience{
    background-image: url(images/tatoo_machine.png);
    background-position-y: -12vw;
    background-size: 100%;
}

.section-about-me__drawing{
    background-image: url(images/ink_pen.png);
    background-position-y: 4vw;
    background-size: 100%;
}

.section-about-me__material{
    background-image: url(images/plane.png);
    background-position-y: 3.5vw;
    background-position-x: 6vw;
    background-size: 85%;
}

.section-about-me__procedure{
    background-image: url(images/mask.png);
    background-position-y: -10vw;
    background-position-x: 6vw;
    background-size: 85%;
}

.section-about-me__info-image{
    z-index: -1;
    position: center;
}

.section-about-me__info-title{
   padding-bottom:6vw ;
   font-size: clamp(0.1rem, 5vw, 5vw);
   font-weight: 600;
   letter-spacing: 0.6vw;
}

.section-about-me__info-text{
    display: flex;
    flex-direction: column;
    font-size: clamp(0.1rem, 4.5vw, 4.5vw);
    gap: 5vw;
    font-weight: 400;
    line-height: 5vw;
}